name: Deploy Spring App to Azure App Service

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build Project
        run: mvn clean install -DskipTests
      - name: Upload Artifacct for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: trs-backend
          path: ${{ github.workspace }}/target/*.jar
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: trs-backend
      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: trs-app-service-prod
          publish-profile: ${{ secrets.azureWebAppPublishProfile }}
          package: '*.jar'